/* CONFIGURACIÓN BÁSICA DE UN ARCHIVO CSS */

/* 1. TIPOGRAFÍAS */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* 2. ICONOS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
    font-family: 'Nunito', sans-serif;
}

:root {
    --color-primario: #007bff;
    --color-secundario: #0c498a;
    --blanco-color: #ffffff;
    --gris-proyecto: #1c1c1c;
    --tercer-azul: #1a73d3;
    --titulo-principal: 48px;
    --subtitulo-seccion: 32px;
    --titulo-bloque: 24px;
    --subtitulo-menor: 18px;
    --parrafos: 16px;
    --texto-auxiliar: 14px;
}

.btn-azul {
    border-radius: 25%;
    width: auto;
    background-color: var(--color-primario);
    height: auto;
    padding: 10px;
}

.btn-rojo {
    border-radius: 25%;
    width: auto;
    background-color: red;
    height: auto;
    padding: 10px;
}

.campos-formulario {
    border-radius: 17%;
    background: #BFD2F8;
}

header {
    width: 100%;
    position: relative;
}

header nav {
    background: var(--color-secundario) !important;
}

.cont-nav {
    flex-grow: 0;
}

.item {
    margin-right: 20px;
}

.item .enlace img {
    margin-right: 10px;
}

.cont-botones {
    display: flex;
    gap: 20px;
}

.cont-botones .boton1, .boton2 {
    border-radius: 25px;
    padding: 10px 20px;
}

.cont-botones .boton1 {
    background-color: var(--color-primario);
    color: var(--blanco-color);
    box-shadow: 0 3px 3px 0 #B9CEFF;
}

.cont-botones .boton2 {
    background: var(--gris-proyecto);
    color: var(--blanco-color);
    border: transparent;
    box-shadow: 0 3px 3px 0 #5E8DFF;
}

#hero {
    width: 100%;
    background: var(--color-secundario);
    height: 90vh;
    padding: 90px 0px 90px 90px;
    overflow: hidden;
}

.cont-info .subtitulo-pequeño {
    color: var(--blanco-color);
    font-size: var(--texto-auxiliar);
}

.cont-info .subtitulo-pequeño img {
    margin-right: 10px;
}

.subtitulo-pequeño {
    margin-bottom: 24px;
}

.titulo-principal {
    margin-bottom: 24px;
}

.info-hero {
    font-size: 24px;
    margin-bottom: 48px;
}

.boton1 .circulo {
    width: 35px;
    height: 35px;
    background-color: #BBCFFF;
    margin-left: 10px;
    position: relative;
}

.boton2 .circulo {
    width: 35px;
    height: 35px;
    background-color: #BBCFFF;
    margin-left: 10px;
    position: relative;
}

.circulo .flecha-derecha {
    font-size: 16px;
    position: absolute;
    left: 10px;
    bottom: 5px;
}

main {
    background: #0c498a;
    position: relative;
    width: 100%;
}

#funcionalidades {
    padding: 120px;
}

#funcionalidades .titulo-funcionalidades {
    margin-bottom: 50px;
    color: var(--blanco-color);
}

.cont-fun-1, .cont-fun-2, .cont-fun-3 {
    border-radius: 40px;
}

.cont-fun-1 {
    padding-right: 0;
    height: 70vh;
    margin-bottom: 16px;
}

.cont-info-1 {
   margin-top: 130px;
   padding-left: 40px;
}

.cont-info-1 h5 {
    margin-bottom: 56px;
    font-size: var(--parrafos);
}

.cont-info-1 h2 {
    margin-bottom: 56px;
}

.cont-info-1 h5,h2,p {
    color: var(--gris-proyecto);
}

.cont-foto-1 {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.cont-fun-2 {
    padding: 30px;
}

.cont-info-2 {
    padding-right: 200px;
    margin-top: 56px;
}

.cont-info-2 h5,h2,p {
    color: var(--gris-proyecto);
}

.cont-info-2 h5 {
    margin-bottom: 40px;
    font-size: var(--parrafos);
}

.cont-info-2 h2 {
    margin-bottom: 40px;
}

.cont-fun-3 {
    padding: 30px;
}

.cont-info-3 {
    margin-top: 56px;
}

.cont-info-3 h5,h2,p {
    color: var(--gris-proyecto);
}

.cont-info-3 h5 {
    font-size: var(--parrafos);
    margin-bottom: 40px;
}

.cont-info-3 h2 {
    margin-bottom: 40px;
}

#beneficios {
    padding: 120px;
}

.titulo-beneficios {
    margin-bottom: 56px;
}

.fila-beneficios {
    margin-bottom: 56px;
}

.fila-beneficios .cont-foto {
    border-radius: 40px;
}

.cont-1,.cont-2,.cont-3 {
    height: 400px;
}

.cont-1 img {
    width: 100%;
    border-radius: 40px;
    height: 100%;
    object-fit: cover;
}

.cont-2 img {
    border-radius: 40px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cont-3 img {
    border-radius: 40px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titulo-carrusel {
    margin-bottom: 40px;
}

.parrafo-carrusel {
    padding-right: 200px;
}

.cont-botones-carrusel {
    display: flex;
    justify-content: end;
    align-items: baseline;
    gap: 16px;
}

.cont-botones-carrusel .boton-carrusel {
    border-radius: 50%;
    width: 40px;
}