<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-vitalix</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="public/assets/website/css/landing.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="public/assets/website/img/LOGO NEGATIVO 1.svg"
                        alt="Logo de evitalix"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse cont-nav" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item item">
                            <a class="nav-link active text-white enlace" aria-current="page" href="#"><img
                                    src="public/assets/website/img/puntito blanco del nav.svg"
                                    alt="Punto blanco">Inicio</a>
                        </li>
                        <li class="nav-item item">
                            <a class="nav-link text-white enlace" href="#"><img
                                    src="public/assets/website/img/puntito blanco del nav.svg"
                                    alt="Punto blanco">Funcionalidades</a>
                        </li>
                        <li class="nav-item item">
                            <a class="nav-link text-white enlace" href="#"><img
                                    src="public/assets/website/img/puntito blanco del nav.svg"
                                    alt="Punto blanco">Beneficios</a>
                        </li>
                        <li class="nav-item item">
                            <a class="nav-link text-white enlace" href="#"><img
                                    src="public/assets/website/img/puntito blanco del nav.svg"
                                    alt="Punto blanco">Planes</a>
                        </li>
                        <li class="nav-item item">
                            <a class="nav-link text-white enlace" href="#"><img
                                    src="public/assets/website/img/puntito blanco del nav.svg"
                                    alt="Punto blanco">Preguntas</a>
                        </li>
                    </ul>
                </div>
                <div class="cont-botones">
                    <a href="#" class="btn btn-primary boton1">Iniciar sesión</a>
                    <a href="#" class="btn btn-outline-primary boton boton2">Soy paciente</a>
                </div>
            </div>
        </nav>
        <div id="hero">
            <div class="container-fluid pe-0">
                <div class="row fila-hero">
                    <div class="col-md-6 cont-info">
                        <h3 class="subtitulo-pequeño text-white"><img src="public/assets/website/img/estetoscopio.svg"
                                alt="">Plataforma de gestión médica
                            integral</h3>
                        <h1 class="text-white titulo-principal">Optimiza el tiempo de tu consultorio médico sin
                            complicaciones</h1>
                        <h2 class="text-white info-hero">E-VITALIX centraliza el agendamiento de citas, las historias
                            clínicas y las órdenes médicas
                            en una plataforma en la nube, rápida y segura.</h2>
                        <div class="cont-botones">
                            <a href="#" class="btn btn-primary boton1">Empieza gratis <span
                                    class="rounded-circle d-inline-block align-middle circulo"><i
                                        class="bi bi-chevron-right text-white flecha-derecha"></i></span></a>
                            <a href="#" class="btn btn-outline-primary boton2">Ver planes <span
                                    class="rounded-circle d-inline-block align-middle circulo"><i
                                        class="bi bi-chevron-right text-white flecha-derecha"></i></span></a>
                        </div>
                    </div>
                    <div class="col-md-6 cont-foto pe-0 d-flex justify-content-end">
                        <img src="public/assets/website/img/dashboard hero prueba.svg" alt="Dashboard">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section id="funcionalidades">
            <div class="container">
                <h2 class="text-center titulo-funcionalidades">Funcionalidades</h2>
                <div class="row">
                    <div class="col-md-12">
                        <div class="bg-white cont-fun-1">
                            <div class="row">
                                <div class="col-md-4 cont-info-1">
                                    <h5>Funcionalidad 01</h5>
                                    <h2>Historias clínicas Electrónicas</h2>
                                    <p>Acceso inmediato y seguro al historial completo de tus pacientes. Genera reportes
                                        en
                                        PDF al instante y mantén la información siempre disponible.</p>
                                </div>
                                <div class="col-md-8 cont-foto-1">
                                    <img src="public/assets/website/img/imagen de prueba 1.svg" alt="Imagen de prueba">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="bg-white cont-fun-2">
                            <div class="row">
                                <div class="col-md-12 cont-foto-2">
                                    <img src="public/assets/website/img/imagen de prueba 2.svg"
                                        alt="Imagen de prueba 2">
                                </div>
                                <div class="col-md-12 cont-info-2">
                                    <h5>Funcionalidad 02</h5>
                                    <h2>Visualización Clara de Agenda</h2>
                                    <p>Controla tu disponibilidad al instante. Calendario interactivo diseñado para
                                        identificar espacios libres rápidamente y consultar los detalles de cada
                                        paciente programado, manteniendo tu día organizado sin complicaciones.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="bg-white cont-fun-3">
                            <div class="row">
                                <div class="col-md-12 cont-foto-3">
                                    <img src="public/assets/website/img/imagen de prueba 3.svg"
                                        alt="Imagen de prueba 3">
                                </div>
                                <div class="col-md-12 cont-info-3">
                                    <h5>Funcionalidad 03</h5>
                                    <h2>Portal de Agendamiento Directo</h2>
                                    <p>Facilita la vida de tu recepción y de tus pacientes. E-VITALIX incluye un módulo
                                        donde el paciente puede buscar por especialidad y elegir tu consultorio
                                        directamente, automatizando el ingreso de nuevas citas a tu sistema.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer></footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>