/* CONFIGURACIÓN BÁSICA DE UN ARCHIVO CSS */

/* 1. TIPOGRAFÍAS */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* 2. ICONOS */

* {
    font-family: 'Nunito', sans-serif;
}

:root {
    --color-primario: #007bff;
    --color-secundario: #0c498a;
    --blanco-color: #ffffff;
    --gris-proyecto: #969696;
    --tercer-azul: #1a73d3;
    --titulo-principal: 48px;
    --subtitulo-seccion: 30px;
    --titulo-bloque: 24px;
    --subtitulo-menor: 18px;
    --parrafos: 16px;
    --texto-auxiliar: 14px; 
}

.btn-azul {
    border-radius: 25%;
    width: auto;
    background-color: var(--color-primario);
    height: auto;
    padding: 10px;
}

.btn-rojo {
    border-radius: 25%;
    width: auto;
    background-color: red;
    height: auto;
    padding: 10px;
}

.campos-formulario {
    border-radius: 17%;
    background: #BFD2F8;
}

header {
    width: 100%;
    position: relative;
}

header .contenedor {
    background: #fcfefe;
}

header .col-info {
    display: flex;
    padding-top: 20px;
}

header .col-info img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-top: 5px;
}

.col-info p {
    color: var(--color-secundario);
}

.col-info span {
    color: var(--color-primario);
    font-weight: 500;
}